.App {
  min-height: 100vh;
  text-align: center;
  background-color: hsl(220, 25%, 18%);
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background: rgba(255, 128, 0, .8);
  border-radius: 1000px;
  width: .5vmin;
  height: 25vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1600ms ease-in;
  }
  .App-logo-2 {
    animation: App-logo-spin infinite 1600ms ease-out reverse;
  }
}

.App-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards-container {
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  display: flex;
  justify-content: space-around;
  color: #282c34;
  background: hsl(100, 10%, 63%);
}
.card {
  padding: 1vmin;
  margin: 3vmin;
  border-radius: 12px;
  background: hsl(60, 84%, 87%);
}